/* Custom Font Styles */
@font-face {
    font-family: Centra;
    src: url('./fonts/CentraNo2-Bold.ttf');
    font-weight: 700;
}

@font-face {
    font-family: Centra;
    src: url('./fonts/CentraNo2-Medium.ttf');
    font-weight: 500;
}

@font-face {
    font-family: Centra;
    src: url('./fonts/CentraNo2-Book.ttf');
    font-weight: 400;
}
/* End of Custom Font Styles */

/* Default CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 75px;
}

body {
    font-weight: 400;
    overflow-x: hidden;
    position: relative;
    background-color: #121212 !important;
    color: #fff !important;
    font-family: 'Centra', sans-serif !important;
}
/* End of Default CSS */

/* General Styles CSS */
.section-header h1 {
    font-size: 65px;
    font-weight: 700;
    letter-spacing: 0.8px;
    margin-top: 5vh;
}
/* End of General Styles CSS */
/* Navbar CSS */
.navigation nav.navbar {
    padding: 20px 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 9999;
    transition: 0.32s ease-in-out;
    background-color: #121212;
}

.navigation nav.navbar a.navbar-brand {
    width: 15%;
    color: white;
}

.navigation nav.navbar .navbar-nav .nav-link.navbar-link {
    font-weight: 400;
    color: #fff;
    letter-spacing: 0.8px;
    padding: 0 25px;
    font-size: 18px;
    opacity: 1;
    background-color: #121212;
}

.navigation nav.navbar .navbar-nav a.nav-link.navbar-link:hover,
.navigation nav.navbar .navbar-nav a.nav-link.navbar-link.active {
    opacity: 1;
    color: #F06000;
}

.navigation span.navbar-text {
    display: flex;
    align-items: center;
}

.navigation .navbar-text button {
    font-weight: 700;
    color: #fff;
    border: 1px solid #fff;
    padding: 18px 34px;
    font-size: 18px;
    margin-left: 18px;
    position: relative;
    background-color: transparent;
    transition: 0.3s ease-in-out;
}

.navigation .navbar-text button span {
    z-index: 1;
}

.navigation .navbar-text button::before {
    content: "";
    width: 0%;
    height: 100%;
    position: absolute;
    background-color: #fff;
    left: 0;
    top: 0;
    z-index: -1;
    transition: 0.3s ease-in-out;
}

.navigation .navbar-text button:hover {
    color: #121212;
}

.navigation .navbar-text button:hover::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
}

.navigation nav.navbar .navbar-toggler:active,
.navigation nav.navbar .navbar-toggler:focus {
    outline: none;
    box-shadow: none;
}

.navigation nav.navbar .navbar-toggler-icon {
    width: 24px;
    height: 17px;
    background-image: none;
    position: relative;
    border-bottom: 2px solid #fff;
    transition: all 300ms linear;
    top: -2px;
}

.navigation nav.navbar .navbar-toggler-icon:focus {
    border-bottom: 2px solid #fff;
}

.navigation nav.navbar .navbar-toggler-icon:after,
.navigation nav.navbar .navbar-toggler-icon:before {
    width: 24px;
    position: absolute;
    height: 2px;
    background-color: #fff;
    top: 0;
    left: 0;
    content: '';
    z-index: 2;
    transition: all 300ms linear;
}

.navigation .sub-menu-content {
    position: absolute;
    display: none;
}

.navigation .sub-menu:hover .sub-menu-content {
    display: block;
}

/* End of Navbar CSS */

/* Home Page CSS */
.home {
    margin-top: -50px;
    position: relative;
    padding-top: 15vh;
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
}

.home .container {
    text-align: center;
    height: 75vh;
    left: 0;
}
    
.home img {
    left: 0;
    opacity: 0.65;
    position: absolute;
    right: 0;
    z-index: -1;
}

.home .backgroundImg {
    height: 75vh;
    width: 100vw;
    object-fit: cover;
}

.home h1 {
    font-size: 65px;
    font-weight: 700;
    letter-spacing: 0.8px;
    line-height: 1;
    margin-bottom: 20px;
    margin-top: 25vh;
    display: block;
}

.home h2 {
    font-size: 30px;
    font-weight: 500;
    display: block;
    margin-bottom: 3vh;
}

.home p {
    font-size: 25px;
    font-weight: 500;
    display: block;
}

.home .onlineMenu {
    margin-top: 15vh;
}

.home .onlineMenu a {
    font-weight: 700;
    color: #fff;
    border: 1px solid #fff;
    padding: 18px 34px;
    font-size: 18px;
    position: relative;
    background-color: transparent ;
    transition: 0.3s ease-in-out;
    text-decoration: none;
}

.home .onlineMenu a::before {
    content: "";
    width: 0%;
    height: 100%;
    position: absolute;
    background-color: #fff;
    left: 0;
    top: 0;
    z-index: -1;
    transition: 0.3s ease-in-out;
}

.home .onlineMenu a:hover {
    color: #121212;
}

.home .onlineMenu a:hover::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
}

/* End of Home Page CSS */

/* Contact Us CSS */
.contact {
    margin-top: -50px;
    position: relative;
    padding-top: 15vh;
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #303030;
}

.contact .container {
    /* text-align: center; */
    height: 75vh;
    left: 0;
}

.contact h1 {
    text-align: center;
}

.contact h2 {
    font-size: 25px;
    margin-bottom: 15px;
}

.contact h3 {
    color: #F06000;
}

.contact .contact-header {
    color: #F06000;
}
/* End of Contact Us CSS */

/* Login Page CSS */
.login {
    margin-top: -50px;
    position: relative;
    padding-top: 15vh;
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #303030;
}

.login .container {
    text-align: center;
    height: 75vh;
    left: 0;
}

.login h1 {
    margin-bottom: 20px;
}

.login .userName input, 
.login .password input{
    position: relative;
    height: 50px;
    border: none;
    background: transparent;
    font-size: 25px;
    font-weight: 200;
    width: 30vw;
    border-bottom: 1px solid rgba(200, 196, 196, 0.241);
    padding-bottom: 10px;
    margin-bottom: 10px;
    color: white;
}

.login .loginButton button {
    font-weight: 700;
    color: #fff;
    border: 1px solid #fff;
    padding: 18px 34px;
    font-size: 18px;
    position: relative;
    background-color: transparent;
    transition: 0.3s ease-in-out;
    text-decoration: none;
    font-size: 25px;
    margin-top: 5vh;
}

.login .loginButton button::before {
    content: "";
    width: 0%;
    height: 100%;
    position: absolute;
    background-color: #fff;
    color: black;
    left: 0;
    top: 0;
    z-index: -1;
    transition: 0.3s ease-in-out;
}

.login .loginButton button:hover {
    color: #F06000
}

.login .loginButton button:hover::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
}

/* End of Login Page CSS */

/* Edit CSS */
.edit {
    margin-top: -50px;
    position: relative;
    padding-top: 15vh;
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #303030;
}

.edit .container {
    height: 75vh;
    left: 0;
}

.edit .logoutButton button {
    font-weight: 700;
    color: #fff;
    border: 1px solid #fff;
    padding: 18px 34px;
    font-size: 18px;
    position: relative;
    background-color: transparent;
    transition: 0.3s ease-in-out;
    text-decoration: none;
    font-size: 25px;
    margin-top: 5vh;
}

.edit .logoutButton button::before {
    content: "";
    width: 0%;
    height: 100%;
    position: absolute;
    background-color: #fff;
    left: 0;
    top: 0;
    z-index: -1;
    transition: 0.3s ease-in-out;
}

.edit .logoutButton button:hover {
    color: #F06000;
}

.edit .logoutButton button:hover::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
}

.edit .editHeader h1 {
    font-size: 25px;
    color: #F06000;
}

.edit .editHeader input{
    position: relative;
    height: 5vh;
    border: none;
    background: transparent;
    font-size: 20px;
    font-weight: 200;
    width: 10vw;
    border-bottom: 1px solid rgba(200, 196, 196, 0.241);
    padding-bottom: 10px;
    margin-bottom: 10px;
    color: white;
}

.edit .editHeader button {
    font-weight: 700;
    color: #fff;
    border: 1px solid #fff;
    padding: 10px 10px;
    font-size: 15px;
    position: relative;
    background-color: transparent;
    transition: 0.3s ease-in-out;
}

.edit .editHeader button::before {
    content: "";
    width: 0%;
    height: 100%;
    position: absolute;
    background-color: #fff;
    left: 0;
    top: 0;
    z-index: -1;
    transition: 0.3s ease-in-out;
}

.edit .editHeader button:hover {
    color: #F06000;
}

.edit .editHeader button:hover::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
}

/* End of Edit CSS */

/* Menu CSS */
.menu {
    margin-top: -50px;
    position: relative;
    padding-top: 15vh;
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #303030;
}

.menu .container {
    text-align: center;
    height: 70vh;
    left: 0;
}

.menu h1 {
    margin-bottom: 20px;
}

.menu p {
    position: absolute;
    bottom: 0;
    margin-left: 2;
}

.menu .menu-navbar {
    margin-top: 20vh;
}

.menu .menu-navbar h1 {
    margin-bottom: 5vh;
}

.menu .menu-navbar a {
    font-weight: 700;
    color: #fff;
    border: 1px solid #fff;
    padding: 18px 34px;
    font-size: 18px;
    position: relative;
    background-color: transparent;
    transition: 0.3s ease-in-out;
    text-decoration: none;
    width: 20vw;
}

.menu .menu-navbar a::before {
    content: "";
    width: 0%;
    height: 100%;
    position: absolute;
    background-color: #fff;
    left: 0;
    top: 0;
    z-index: -1;
    transition: 0.3s ease-in-out;
}

.menu .menu-navbar a:hover {
    color: #F06000;
}

.menu .menu-navbar a:hover::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
}
/* End of Menu CSS */

/* All-day Menu CSS */
.allday-menu {
    margin-top: -50px;
    position: relative;
    padding-top: 15vh;
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #303030;
}

.allday-menu .container {
    /* height: 70vh; */
    left: 0;
    margin-top: 125px;
}

.allday-menu .section-header h1 {
    text-align: center;
}

.allday-menu .sectionHeader h1{
    font-size: 35px;
    color: aqua;
    font-weight: 700;
}

.allday-menu .sectionHeader p{
    font-size: 20px;
    color: aqua;
    font-weight: 500;
}

.allday-menu .foodName h2{
    font-size: 20px;
}

.allday-menu .foodPrice p {
    font-size: 17px;
    color: #F06000;
}

/* .allday-menu nav.navbar {
    padding: 20px 0;
    position: fixed;
    width: 100%;
    top: 100px;
    z-index: 2;
    transition: 0.32s ease-in-out;
    background-color: #303030;
}

.allday-menu nav.navbar a.navbar-brand {
    width: 10%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.allday-menu nav.navbar .navbar-nav .nav-link.navbar-link {
    font-weight: 400;
    color: #fff;
    letter-spacing: 0.8px;
    padding: 10px 20px;
    font-size: 18px;
    opacity: 1;
    background-color: #303030;
}

.allday-menu nav.navbar .navbar-nav a.nav-link.navbar-link:hover,
.allday-menu nav.navbar .navbar-nav a.nav-link.navbar-link.active {
    opacity: 1;
    color: #F06000;
}

.allday-menu .ms-auto {
    overflow: auto;
    white-space: nowrap;
} */

.allday-menu .go-top a {
        position: relative;
        left: 50%;
        /* margin-left: -29px; */
        color: #fff;
        display: block;
        height: 42px;
        width: 42px;
        font-size: 42px;
        line-height: 42px;
        border-radius: 100%;
        /* margin-top: -10px; */
}

.allday-menu .go-top a:hover {
    color: #F06000;
    transition: 0.3s ease-in-out;
}

/* End of All-day Menu CSS */

/* Lunch Menu CSS */
.lunch-menu {
    margin-top: -50px;
    position: relative;
    padding-top: 15vh;
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #303030;
}

.lunch-menu .container {
    height: 70vh;
    left: 0;
    margin-top: 125px;
}

.lunch-menu .section-header h1 {
    text-align: center;
}

.lunch-menu .sectionHeader h1 {
    font-size: 35px;
    color: aqua;
    font-weight: 700;
}

.lunch-menu .sectionHeader p {
    font-size: 20px;
    color: aqua;
    font-weight: 500;
}

.lunch-menu .foodName h2 {
    font-size: 20px;
}

.lunch-menu .foodPrice p {
    font-size: 17px;
    color: #F06000;
}

/* End of Lunch Menu CSS */

/* Footer CSS */
.footer {
    bottom: 0;
    padding-top: 3vh;
    padding-bottom: 3vh;
    color: #303030;
    font-size: 14px;
    text-align: center;
    position: relative;
    background-color: #121212;
}

.footer p {
    font-weight: 400;
    font-size: 14px;
    color: #B8B8B8;
    letter-spacing: 0.5px;
    margin-top: 30px;
    align-items: center;
    justify-content: center;
}

/* End of Footer CSS */